#bg{:style => "background-image: url('#{asset_path('photos/willis.jpg')}');"}

.hero-unit
  %h1 So, you want to <strong>contact</strong> me?
  %p You could #{mail_to('sam@samnichollsphotography.com', 'email me')}.
