#bg{:style => "background-image: url('#{asset_path('photos/willis.jpg')}');"}

.hero-unit
  %h1
    Hello,<br>
    I'm <strong>Sam Nicholls</strong>.
  %p I love <strong>photography</strong>, <strong>guitars</strong>, <strong>music</strong> and <strong>life</strong>.
