.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        Photo
        %small= @photo_set.name

    %h2 Create a new Photo

    .row
      .span12
        = render 'form'

    .row
      .span12
        = link_to 'Back', photo_set_path(@photo_set)
