.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        Photo
        %small New

    %h2 Create a new photo

    .row
      .span12
        = render 'form'

    .row
      .span12
        = link_to 'Back', photos_path
