.container
  .content
    .row
      .span12= alert_message_for(flash)

    .page-header
      %h1
        Photo Set
        %small New

    %h2 Create a new photo set

    .row
      .span12
        = render 'form'

    .row
      .span12
        = link_to 'Back', photo_sets_path
